.page-home {
    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }

    .store-categories {
        margin-top: 30px;
    }

    .store-new-product {
        margin-top: 10px;
    }

    .btn-lihat-produk {
        position:relative;
        padding:6px 15px;
        left:-8px;
        border:2px solid #53bd84;
        background-color:#53bd84;
        color:#fafafa;
    }

    .component-categories {
        max-height: 197px;
    }

    .component-products {
        &:hover {
            transform: scale(1.2);
            text-decoration: none;
        }
    }
}
